body {
    padding-top: 22px;
    padding-bottom: 22px;
}

.roundedInput{
    background: #F4F4F4;
    border-radius: 22.5px;
    outline: none;
    border-left: none;
    border-bottom: none !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 183.2%;
  }

.pageHeading {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    color: #1D58AF;
    
}